h1 {
    text-align: center;
    background-color: white;
}

body {
    background-color: yellowgreen;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container img {
    margin: 5px;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

.container div {
    color: white;
}

.gif-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    color: yellowgreen;

}
.gif-container img
{
    border-radius: 12px;
    margin: 5px;
    width: 100px;
    height: 100px;
}
.video-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video-container video
{
    margin-top: 5px;
    border: solid, 5px, rgb(132, 138, 121);
    width: 100%;
    height: 400px;
}
.play 
{
   background-color: blue;
   color: rgb(2, 2, 2);
   background-color: grey;
   font-family: "Montserrat", sans-serif;
   font-size: larger;
   border-radius: 12px;
   font-weight: bold;
   margin:5px;
}
.play:hover {
    background-color: #000;
    color: white;
    font-weight: bold;
}